{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entities \EasyCorp\Bundle\EasyAdminBundle\Collection\EntityCollection #}
{# @var paginator \EasyCorp\Bundle\EasyAdminBundle\Orm\EntityPaginator #}

{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block filters %}
    {% set applied_filters = ea.request.query.all['filters']|default([])|keys %}
    {% set query = ea.request.query.all %}
    <div class="btn-group action-filters">
        <a
            href="#"
            data-href="{{ ea_url().setRoute('admin_survey_participants_filters', {surveyId: surveyId}|merge(query)) }}"
            class="btn btn-secondary btn-labeled btn-labeled-right action-filters-button disabled {{ applied_filters ? 'action-filters-applied' }}"
            data-bs-toggle="modal"
            data-bs-target="#modal-filters"
        >
            <twig:ea:Icon name="internal:filter" /> {{ t('filter.title', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}{% if applied_filters %} <span class="action-filters-button-count">({{ applied_filters|length }})</span>{% endif %}
        </a>

        {% if applied_filters %}
            <a
                href="{{ ea_url().unset('filters').setRoute('admin_survey_participants_index', {surveyId: surveyId}) }}"
                class="btn btn-secondary action-filters-reset"
            >
                <twig:ea:Icon name="internal:xmark" />
            </a>
        {% endif %}
    </div>
{% endblock %}
